<section id='about' class='relative py-16'>
  <div class='max-w-7xl mx-auto px-6'>
    <div class='grid md:grid-cols-2 gap-12 items-center'>
      <!-- Imagen -->
      <div class='relative'>
        <div
          class='absolute inset-0 bg-gradient-to-br from-primary/20 to-accent/20 rounded-lg transform rotate-3'
        >
        </div>
        <img
          src='/about.webp'
          alt='Lucia Martinez - Instructora de Yoga'
          class='relative z-10 w-full h-full object-cover rounded-lg shadow-l'
        />
      </div>

      <!-- Contenido -->
      <div class='space-y-6'>
        <h2 class='text-4xl md:text-5xl font-bold text-primary'>
          Sobre <span class='text-text'>Lucía Martínez</span>
        </h2>

        <p class='text-text text-lg'>
          Nacida en Pamplona y formada en arquitectura por la Universidad de
          Navarra, tras 13 años en reconocidos estudios y sintiendo el impacto
          de la presión laboral en mi salud, descubrí el yoga, la meditación y
          la relajación, certificándome como instructora en el Sivananda Center
          Bahamas; dos momentos decisivos, mi separación a los 34 años y un
          accidente de coche en 2020, marcaron mi transición de la arquitectura
          al yoga, disciplina que hoy enseño para brindar serenidad y conexión
          interior.
        </p>

        <div class='space-y-4'>
          <div class='flex items-start gap-3'>
            <div class='p-2 bg-primary/10 rounded-lg'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='h-6 w-6 text-primary'
                fill='none'
                viewBox='0 0 24 24'
                stroke='currentColor'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z'></path>
              </svg>
            </div>
            <p class='text-text'>Certificada en Hatha Yoga, mindfulness</p>
          </div>
          <div class='flex items-start gap-3'>
            <div class='p-2 bg-primary/10 rounded-lg'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='h-6 w-6 text-primary'
                fill='none'
                viewBox='0 0 24 24'
                stroke='currentColor'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z'></path>
              </svg>
            </div>
            <p class='text-text'>Formación continua en Europa</p>
          </div>
          <div class='flex items-start gap-3'>
            <div class='p-2 bg-primary/10 rounded-lg'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='h-6 w-6 text-primary'
                fill='none'
                viewBox='0 0 24 24'
                stroke='currentColor'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z'></path>
              </svg>
            </div>
            <p class='text-text'>
              Especializada en yoga y Mindfulness para niños, Psicología
              Positiva, Gestión Emocional, Yoga Oncológico entre otras.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
