<section
  id='bonus'
  class='container mx-auto px-4 flex flex-col items-center justify-center gap-10 w-full py-20'
>
  <h2
    class='bg-gradient-to-r from-rose-100 via-rose-500 to-rose-100
       text-white text-center py-4 text-5xl uppercase w-full font-bold'
  >
    Aprovecha los <span class='font-extrabold block lg:inline'>BONUS</span> de lanzamiento
  </h2>
  <!-- Contenedor principal: en pantallas pequeñas se apilan; en pantallas medianas y mayores, dos columnas -->
  <div class='grid grid-cols-1 md:grid-cols-2 gap-8'>
    <!-- Primer bloque -->
    <div
      class='bg-gradient-to-r from-white to-rose-200 shadow-lg rounded-lg p-8 text-center transform transition-transform hover:scale-105 duration-300'
    >
      <!-- Aquí colocas tu imagen -->
      <img
        src='ruta-de-tu-imagen-1.png'
        alt='Imagen del Bonus 1'
        class='mx-auto mb-4 size-40 object-cover rounded-full border-4 border-white'
      />
      <!-- Título y texto descriptivo -->
      <h3 class='text-3xl font-bold mb-2 text-rose-600 underline'>
        ACCIÓN RAPIDA
      </h3>
      <p class='text-rose-600 text-xl'>
        Las primeras <span class='font-extrabold text-rose-600'>20</span> personas
        en inscribirse reciben una <span class='font-extrabold text-rose-600'>
          sesión extra grupal de YOGA NIDRA</span
        > conmigo
      </p>
    </div>

    <!-- Segundo bloque -->
    <div
      class='bg-gradient-to-r from-white to-rose-200 shadow-lg rounded-lg p-8 text-center transform transition-transform hover:scale-105 duration-300'
    >
      <!-- Aquí colocas tu imagen -->
      <img
        src='ruta-de-tu-imagen-2.png'
        alt='Imagen del Bonus 2'
        class='mx-auto mb-4 size-40 object-cover rounded-full border-4 border-white'
      />
      <!-- Título y texto descriptivo -->
      <h3 class='text-3xl font-bold mb-2 text-rose-600 underline'>PREMIUM</h3>
      <p class='text-rose-600 text-xl'>
        Los inscriptos <span class='font-extrabold text-rose-600'>HOY</span> recibirán
        <span class='font-extrabold text-rose-600'>2 clases grabadas extra</span
        > sobre técnicas de respiración avanzadas.
      </p>
    </div>
  </div>
  <a
    onclick='return false;'
    href='https://pay.hotmart.com/R98635516G?checkoutMode=2'
    class='hotmart-fb animate-float'
    ><button
      class='py-6 lg:px-24 px-16 bg-rose-400 text-white rounded-full hover:bg-rose-500 transition-colors cursor-pointer text-2xl font-bold'
    >
      Reserva tu plaza
    </button></a
  >
</section>

<script type='text/javascript'>
  function importHotmart() {
    var imported = document.createElement("script");
    imported.src = "https://static.hotmart.com/checkout/widget.min.js";
    document.head.appendChild(imported);
    var link = document.createElement("link");
    link.rel = "stylesheet";
    link.type = "text/css";
    link.href = "https://static.hotmart.com/css/hotmart-fb.min.css";
    document.head.appendChild(link);
  }
  importHotmart();
</script>

<style>
  .special {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
</style>
