<section class='w-full py-20 bg-white' id='testimonials'>
  <div class='max-w-7xl mx-auto px-6'>
    <h2 class='text-4xl md:text-5xl font-bold text-center mb-12'>
      Como el Yoga afecta en las personas
    </h2>

    <div class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
      <!-- Testimonio 1 -->
      <div
        class='bg-gray-50 p-8 rounded-lg hover:scale-105 transition-all duration-300'
      >
        <a href='https://www.youtube.com/shorts/vjaFC00x7iU' target='_blank'>
          <div class='flex items-center gap-4 mb-6'>
            <img
              src='/testimonial1.png'
              alt='Testimonio 1'
              class='w-16 h-16 rounded-full object-cover'
            />
            <div>
              <h4 class='font-semibold'>Cristina</h4>
              <p class='text-gray-600'>Alumna desde hace 10 años</p>
            </div>
          </div>
          <p class='text-gray-700 italic'>
            "El yoga transformó mi vida, alivió mis dolores, mejoró mi postura,
            combinado con la respiración que Lucía nos enseña para manejar
            situaciones de estrés."
          </p>
        </a>
      </div>

      <!-- Testimonio 2 -->
      <div
        class='bg-gray-50 p-8 rounded-lg hover:scale-105 transition-all duration-300'
      >
        <a href='https://www.youtube.com/shorts/geflf-DDjOE' target='_blank'>
          <div class='flex items-center gap-4 mb-6'>
            <img
              src='/testimonial2.png'
              alt='Testimonio 2'
              class='w-16 h-16 rounded-full object-cover'
            />
            <div>
              <h4 class='font-semibold'>Daniel</h4>
              <p class='text-gray-600'>Alumno desde hace 13 años</p>
            </div>
          </div>
          <p class='text-gray-700 italic'>
            "Con el yoga me encuentro mejor tanto física como mentalmente,
            liberé tensiones, gané flexibilidad y fuerza en mis articulaciones."
          </p>
        </a>
      </div>

      <!-- Testimonio 3 -->
      <div
        class='bg-gray-50 p-8 rounded-lg hover:scale-105 transition-all duration-300'
      >
        <a
          href='https://www.youtube.com/watch?v=PmUAv8ctn0w&ab_channel=MindfulFunnels'
          target='_blank'
        >
          <div class='flex items-center gap-4 mb-6'>
            <img
              src='/testimonial3.png'
              alt='Testimonio 3'
              class='w-16 h-16 rounded-full object-cover'
            />
            <div>
              <h4 class='font-semibold'>Enrique</h4>
              <p class='text-gray-600'>Alumno desde hace 4 años</p>
            </div>
          </div>
          <p class='text-gray-700 italic'>
            "El yoga me permitió llevarme física y emocionalmente a un punto de
            equilibrio."
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
